<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>修改页面</title>
</head>
<body>
	<form action="{% url 'blog:edit_action' %}" method="post">

		{% csrf_token %}

		<!-- 方案一 使用if else 方式 -->
		<!-- {% if article %}
		<input type="hidden" name="article_id" value="{{article.id}}">
		<label>文章标题
			<input type="text" name="title" value="{{article.title}}">
		</label>
		<br>
		<label>文章内容
			<input type="text" name="content" value="{{article.content}}">
		</label>
		<br>
		{% else %}
		<input type="hidden" name="article_id" value="0">
		<label>文章标题
			<input type="text" name="title">
		</label>
		<br>
		<label>文章内容
			<input type="text" name="content">
		</label>
		<br>
		{% endif %}

		<input type="submit" value="提交"> -->

		<!-- 方案二 使用过滤器的方式 设置默认值为0 -->
		<input type="hidden" name="article_id" value="{{article.id | default:'0'}}">
		<label>文章标题
			<input type="text" name="title" value="{{article.title}}">
		</label>
		<br>
		<label>文章内容
			<input type="text" name="content" value="{{article.content}}">
		</label>
		<br>

		<input type="submit" value="提交">
	</form>
	
</body>
</html>